@media only screen and (min-width : 1024px){
    .back-btn{
        width: 100%;
        padding : 0rem 0rem 0rem 3rem;
        display: flex;
        justify-content: flex-start;
    }
}
.back-btn span{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}